.container {
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.table-columns {
    border-collapse: collapse;
    width: 43%;
    margin: 0;
    table-layout: fixed;
}

.search-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.search-bar {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.square-container {
    display: flex;
    justify-content: space-around;
}

.square {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.MATCH {
    background-color: green;
    color: white;
}

.NO_MATCH {
    background-color: red;
    color: white;
}

.HIGHER {
    background-color: red;
    color: white;
}

.LOWER {
    background-color: red;
    color: white;
}

.PARTIAL_MATCH {
    background-color: orange;
}
