.container {
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.table-columns-3 {
    border-collapse: collapse;
    width: 26%;
    margin: 0;
    table-layout: fixed;
}

.table-columns-4 {
    border-collapse: collapse;
    width: 35%;
    margin: 0;
    table-layout: fixed;
}

.table-columns-5 {
    border-collapse: collapse;
    width: 43%;
    margin: 0;
    table-layout: fixed;
}

.table-columns-6 {
    border-collapse: collapse;
    width: 52%;
    margin: 0;
    table-layout: fixed;
}

.table-columns-7 {
    border-collapse: collapse;
    width: 61%;
    margin: 0;
    table-layout: fixed;
}

.table-columns-8 {
    border-collapse: collapse;
    width: 69%;
    margin: 0;
    table-layout: fixed;
}

.search-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.search-bar {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.square-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.square {
    width: 8vw;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}

.hidden {
    visibility: hidden;
    height: 40px;
}

.MATCH {
    background-color: green;
    color: white;
}

.NO_MATCH {
    background-color: #d60000;
    color: white;
}

.HIGHER {
    background-image: url("../Assets/higher.jpg");
    background-size: cover;
    color: white;
}

.LOWER {
    background-image: url("../Assets/lower.jpg");
    background-size: cover;
    color: white;
}

.PARTIAL_MATCH {
    background-color: orange;
    color: white;
}
